body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-image: url(./img/hero-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    text-align: center;
    
}
.logo img{
    margin: 1.5rem;
    
}


nav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 0 10vw;
}

nav ul {
    display: flex;
    justify-content: center;

}


nav li {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    
}
nav a:hover{
    color: red;
    transition: 0.5s;
}

h2{
    font-size: 30px;
    color: white;
}
 span{
    color: white;
 }

/* contact form */

.contact-form {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}



.input-field {
    margin-bottom: 15px;
}

.input-field input,
.input-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-field textarea {
    height: 100px;
}

.input-field button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-field button:hover{
    border: 1px solid red;
    background-color:white;
    color: red; 
    transition: 0.5s;
}

/* footer */

