* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/img/hero-bg.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}